<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.india.cnm"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Allows the app to create network sockets and use custom network protocols. The browser and other applications provide means to send data to the internet, so this permission is not required to send data to the internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the app to make use of foreground services. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- This app can appear on top of other apps or other parts of the screen. This may interfere with normal app usage and change the way that other apps appear. -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Allows the app to move tasks to the foreground and background. The app may do this without your input. -->
    <uses-permission
        android:name="android.permission.REORDER_TASKS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Allows the app to control the vibrator. -->
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to modify the system's settings data. Malicious apps may corrupt your system's configuration. -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS" />
    <!-- Allows an app to see all installed packages. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.LAUNCH_APP" />
    <!-- Allows the app to prevent the phone from going to sleep. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <!-- This app can take pictures and record videos using the camera while the app is in use. -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <!-- Allows the app to show notifications -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Allows the app to read image files from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Allows the app to read video files from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- Allows the app to read audio files from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- Allows the app to read the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Allows the app to write the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https" />
        </intent>
        <package
            android:name="com.google.android.gms" />
        <package
            android:name="com.android.vending" />
        <package
            android:name="com.android.creator" />
        <package
            android:name="com.mdid.msa" />
        <package
            android:name="com.samsung.android.deviceidservice" />
        <package
            android:name="com.coolpad.deviceidsupport" />
        <package
            android:name="com.heytap.openid" />
        <package
            android:name="com.huawei.hwid" />
        <package
            android:name="com.huawei.hwid.tv" />
        <package
            android:name="com.huawei.hms" />
        <package
            android:name="com.asus.msa.SupplementaryDID" />
        <package
            android:name="com.zui.deviceidservice" />
        <package
            android:name="com.qiku.id" />
    </queries>
    <!-- Allows apps to accept cloud-to-device messages sent by the app's service. Using this service will incur data usage. Malicious apps could cause excess data usage. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Allows the app to have itself started as soon as the system has finished booting. This can make it take longer to start the phone and allow the app to slow down the overall phone by always running. -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Allows the app to access the phone features of the device. This permission allows the app to determine the phone number and device IDs, whether a call is active, and the remote number connected by a call. -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <!-- Allows a publisher app to access a valid advertising ID directly or indirectly. -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission
        android:name="freemme.permission.msa" />
    <!-- Allows the app to read image and video files that you select from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <!-- Allows the app to view information about Wi-Fi networking, such as whether Wi-Fi is enabled and name of connected Wi-Fi devices. -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allows an application to request installation of packages. -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Allows the app to retrieve its install referrer information. -->
    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <permission
        android:name="com.india.cnm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.india.cnm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <application
        android:theme="@style/Theme.Cdy"
        android:label="@string/app_name"
        android:icon="@mipmap/logo"
        android:name="com.india.cnm.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/round_logo"
        android:maxAspectRatio="2.4"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <service
            android:name="com.india.cnm.service.MyFcmService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/CoMainA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.india.cnm.FMainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:hardwareAccelerated="true"
            android:largeHeap="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.india.cnm.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <service
            android:name="com.india.cnm.service.CacheClearServiceIn" />
        <service
            android:name="com.india.cnm.service.KillSelfService"
            android:process=":restart" />
        <activity
            android:name="com.india.cnm.activity.HowActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.MsgActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.TradActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.AgentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.AcActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.AuthActivityPaytm"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.EditActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.PaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.BulletinActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.BillsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.PersonalActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.BindActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.StatusActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.OrderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.BindActivity2"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.FWithDrawActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.ServiceActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.TutorDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.BonusActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.TutorialActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.USDTActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.ResetActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.PinActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.FLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.FSignActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.FForgotActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.WalletActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.AuthActivityMob"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.AuthActivityGeneral"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.india.cnm.activity.InfoWebActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.activity.InfoWebActivityWallet"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.activity.InfoWebActivityWalletPhonePe"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.activity.AuthActivityPhonePe"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.webview.MyWebActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.activity.InfoWebActivityOutside"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.activity.InfoWebActivityService"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.india.cnm.activity.InfoWebActivityBridge"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <receiver
            android:name="com.google.firebase.messaging.directboot.FirebaseMessagingDirectBootReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action
                    android:name="com.google.firebase.messaging.RECEIVE_DIRECT_BOOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter
                android:priority="-500">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BATTERY_OKAY" />
                <action
                    android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.TIME_SET" />
                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.bumptech.glide.integration.webp.WebpGlideModule"
            android:value="GlideModule" />
        <provider
            android:name="com.just.agentweb.AgentWebFileProvider"
            android:exported="false"
            android:authorities="com.india.cnm.AgentWebFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_public" />
        </provider>
        <provider
            android:name="com.download.library.DownloadFileProvider"
            android:exported="false"
            android:authorities="com.india.cnm.DownloadFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/download_files_public" />
        </provider>
        <provider
            android:name="com.maning.updatelibrary.MNUpdateApkFileProvider"
            android:exported="false"
            android:authorities="com.india.cnm.mn_update_apk.file_provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mn_update_file_provider" />
        </provider>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.jakewharton.processphoenix.PhoenixActivity"
            android:exported="false"
            android:process=":phoenix" />
        <service
            android:name="com.jakewharton.processphoenix.PhoenixService"
            android:exported="false"
            android:process=":phoenix" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-identifier"
            android:value="ads-identifier:3.4.62.300" />
    </application>
</manifest>